@model ProjectBanking.Models.Customer
@{
    ViewData["Title"] = "Confirm";
}

<h1 style="margin-top:30px;">Confirm Information</h1>
<p style="margin-left:800px;">@DateTime.Now</p>
<p>ID : @Html.DisplayFor(id => id.CustomerID)</p>
<p>Name : @Html.DisplayFor(name => name.CustomerName)</p>
<p>Address : @Html.DisplayFor(address => address.CustomerAddress)</p>
<p>Phone Number : @Html.DisplayFor(phone => phone.CustomerPhone)</p>
<p>Date : @Html.DisplayFor(date => date.CustomerDate)</p>
<img src="@Html.DisplayFor(img => img.CustomerImg)" />

