@model ProjectBanking.Models.Savings
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<body>

    <div asp-action="cal1">
        <section class="rank-cal" style=" height: 450px;">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <h1 style="color:#5A38FD; margin-bottom:20px;">
                        ผลการจัดอันดับ
                    </h1>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="colrank">
                        <div class="justify-content-center align-items-center" style="width:60%">
                            <img class="rankimg2" src="~/img/circlebank1.png" >
                        </div>
                        <div class="justify-content-center align-items-center">
                            <div class="card card-rank2">
                                <div class="card-body">
                                    <h1 class="card-title">2</h1>
                                    <h3>0.25 %</h3>
                                    <p>ธนาคารไทยพาณิชย์</p>
                                    <center><p>@ViewBag.Totalsavingb1 บาท</p></center>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="colrank">
                        <div class="justify-content-center align-items-center" style="width:70%">
                            <img class="rankimg1" style="position:absolute;z-index:99;" src="~/img/circlebank3.png">
                        </div>
                        <div class="justify-content-center align-items-center" style="margin-left:5%">
                            <div class="card card-rank1" style="width: 20%;">
                                <div class="card-body">
                                    <h1 class="card-title">1</h1>
                                    <h3>0.35 %</h3>
                                    <p>ธนาคารกรุงศรีอยุธยา</p>
                                    <center><p>@ViewBag.Totalsavingb3 บาท</p></center>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="colrank">
                        <div class="justify-content-center align-items-center" style="width:50%">
                            <img class="rankimg3" src="~/img/circlebank2.png">
                        </div>
                        <div class="justify-content-center align-items-center">
                            <div class="card card-rank3">
                                <div class="card-body">
                                    <h1 class="card-title">3</h1>
                                    <h3>0.20 %</h3>
                                    <p>ธนาคารกสิกรไทย</p>
                                    <center><p>@ViewBag.Totalsavingb2 บาท</p></center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="sec2">
            <div class="row justify-content-center align-items-center" style="margin-top:10%;">
                <h1 style="color:#5A38FD; margin-bottom:20px;">ตารางเปรียบเทียบอัตราดอกเบี้ย</h1>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="card cardtable">
                    <table class="table table-hover table-bordered ">
                        <thead>
                            <tr class="thtable">
                                <th scope="col" style="border-top-left-radius: 30px;">ธนาคาร</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.SInterestRate)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.Sday)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.Smoney)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.SRate)</th>
                                <th scope="col" style="border-top-right-radius: 30px;">@Html.DisplayNameFor(model => model.STotal)</th>
                            </tr>
                        </thead>
                        <tbody class="btable">
                            <tr>
                                <th scope="row" class="thtableimg">ธนาคารกรุงศรีอยุธยา<br /><img src="~/img/bank3.png" style="width:100%" class="imgtable"></th>
                                <td><br /><br /><h5>0.35</h5></td>
                                <td><br /><br /><h5>@ViewBag.Sterm</h5></td>
                                <td><br /><br /><h5>@ViewBag.Earlysavingb2</h5></td>
                                <td><br /><br /><h5>@ViewBag.Ratesavingb2</h5></td>
                                <td><br /><br /><h5>@ViewBag.Totalsavingb2</h5></td>
                            </tr>
                            <tr>
                                <th scope="row">ธนาคารไทยพาณิชย์<br /><img src="~/img/bank1.png" style="width:100%"></th>
                                <td><br /><br /><h5>0.25</h5></td>
                                <td><br /><br /><h5>@ViewBag.Sterm</h5></td>
                                <td><br /><br /><h5>@ViewBag.Earlysavingb1</h5></td>
                                <td><br /><br /><h5>@ViewBag.Ratesavingb1</h5></td>
                                <td><br /><br /><h5>@ViewBag.Totalsavingb1</h5></td>
                            </tr>
                            <tr>
                                <th scope="row">ธนาคารกสิกรไทย<br /><img src="~/img/bank2.png" style="width:100%"></th>
                                <td><br /><br /><h5>0.20</h5></td>
                                <td><br /><br /><h5>@ViewBag.Sterm</h5></td>
                                <td><br /><br /><h5>@ViewBag.Earlysavingb3</h5></td>
                                <td><br /><br /><h5>@ViewBag.Ratesavingb3</h5></td>
                                <td><br /><br /><h5>@ViewBag.Totalsavingb3</h5></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <center><button style="border:none;outline:none;" class="btn-cal1" onclick="goBack()">กลับไปหน้าคำนวณ</button></center>
            </div>
        </section>
    </div>
    
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}