@model ProjectBanking.Models.Savings
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<body>
    <style>
        body {
            background-color: #E5E5E5;
        }
    </style>

        <div asp-action="cal1">

            <section class="table-cal">
                <div class="container">
                    <div class="text-cal">
                        <h1 class="textbanner">
                            ตารางเปรียบเทียบอัตราดอกเบี้ย
                        </h1>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"> <img class="card-img-top" src="~/img/bank3.png" alt="Card image cap"></th>
                                <th scope="col"><img class="card-img-top" src="~/img/bank1.png" alt="Card image cap"></th>
                                <th scope="col"><img class="card-img-top" src="~/img/bank2.png" alt="Card image cap"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>ธนาคารกรุงศรีอยุธยา</td>
                                <td>ธนาคารไทยพาณิชย์</td>
                                <td>ธนาคารกสิกรไทย</td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.Smoney)</th>
                                <td><br />@ViewBag.Earlysavingb2</td>
                                <td><br />@ViewBag.Earlysavingb1</td>
                                <td><br />@ViewBag.Earlysavingb3</td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.Sday)</th>
                                <td><br />@ViewBag.Sterm</td>
                                <td><br />@ViewBag.Sterm</td>
                                <td><br />@ViewBag.Sterm</td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.SInterestRate)</th>
                                <td><br />0.35</td>
                                <td><br />0.25</td>
                                <td><br />0.20</td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.SRate)</th>
                                <td><br />@ViewBag.Ratesavingb2</td>
                                <td><br />@ViewBag.Ratesavingb1</td>
                                <td><br />@ViewBag.Ratesavingb3</td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.STotal)</th>
                                <td><br />@ViewBag.Totalsavingb2</td>
                                <td><br />@ViewBag.Totalsavingb1</td>
                                <td><br />@ViewBag.Totalsavingb3</td>
                            </tr>

                        </tbody>
                    </table>

                    <section class="rank-cal">
                        <div class="container">
                            <div class="text-cal">
                                <h1 class="textbanner">
                                    ผลการจัดอันดับ
                                </h1>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col-md-auto">
                                    <img class="card-img-top" src="~/img/circlebank1.png" alt="Card image cap">
                                    <div class="card" style="width: 10rem;">
                                        <div class="card-body">
                                            <h1 class="card-title">2</h1>
                                            <p>ธนาคารไทยพาณิชย์</p>
                                            <center><p>@ViewBag.Totalsavingb1 บาท</p></center>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-auto">
                                    <img class="card-img-top" src="~/img/circlebank3.png" alt="Card image cap">
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <h1 class="card-title">1</h1>
                                            <p>ธนาคารกรุงศรีอยุธยา</p>
                                            <center><p>@ViewBag.Totalsavingb3 บาท</p></center>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-auto">
                                    <img class="card-img-top" src="~/img/circlebank2.png" alt="Card image cap">
                                    <div class="card" style="width: 10rem;">
                                        <div class="card-body">
                                            <h1 class="card-title">3</h1>
                                            <p>ธนาคารกสิกรไทย</p>
                                            <center><p>@ViewBag.Totalsavingb2 บาท</p></center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </section>
        </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}