@model ProjectBanking.Models.Customer
@{
    ViewData["Title"] = "Complete";
}
    <section class="headcomplete">
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="display-5 Ctitle">การลงทุนเสร็จเรียบร้อย</h1>
            </div>
            <div class="row justify-content-center">
                <div class="img-fluid">
                    <img src="~/img/completepage.png" class="picconfirm">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="colbtn">
                    <a href="#cardshow" class="btn-white" onclick="showform()">ตรวจสอบข้อมูล</a>
                </div>
                <div class="colbtn">
                    <a  href="#" class="btn-pdf" id="btnPdf" onclick="filepreview" accept="image/*">ดาวน์โหลดPDF</a>
                </div>
            </div>
        </div>
    </section>

    <section id="showform" class="bodycomplete">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                    <div class="showcard" id="cardshow">
                        <div class="card-header " style="background:none; text-align:center ;color:blue"><h3>ข้อมูลการลงทุน</h3></div>
                        <div class="row">
                            <div class="col-12">
                                <form class="formcomplete align-items-center justify-content-center ">

                                    <fieldset>
                                        <div class="row" style="margin-top:50px;">
                                            <div class="col-8"><span class="number">1</span> ธนาคารไทยพาณิชย์</div>
                                            <div class="col-4" style="justify-content:flex-end"><p>@DateTime.Now</p></div>
                                        </div>
                                        <div class="row" style="margin-top:50px;">
                                            <div class="col-4"><label class="labelconfirm">ประเภท :</label></div>
                                            <div class="col-8"><input type="text" disabled="disabled" value="@Html.DisplayFor(Select => Select.BankSelect)"></div>
                                        </div>

                                        <div class="row" style="margin-top:50px;">
                                            <div class="col-4"><label class="labelconfirm">ชื่อบัญชี :</label></div>
                                            <div class="col-8"><input type="text" disabled="disabled" value="@Html.DisplayFor(BN => BN.CustomerBN)"></div>
                                        </div>

                                        <div class="row" style="margin-top:50px;">
                                            <div class="col-4"><label class="labelconfirm">ชื่อผู้ฝาก :</label></div>
                                            <div class="col-8"><input type="text" disabled="disabled" value="@Html.DisplayFor(name => name.CustomerName)"></div>
                                        </div>

                                        <div class="row" style="margin-top:50px;">
                                            <div class="col-4"><label class="labelconfirm">เลขบัตรประชาชน :</label></div>
                                            <div class="col-8"><input type="text" disabled="disabled" value="@Html.DisplayFor(id => id.CustomerID)"></div>
                                        </div>

                                        <div class="row" style="margin-top:50px;">
                                            <div class="col-4"><label class="labelconfirm">ที่อยู่ :</label></div>
                                            <div class="col-8"><input type="text" disabled="disabled" value="@Html.DisplayFor(address => address.CustomerAddress)"></div>
                                        </div>

                                        <div class="row" style="margin-top:50px;">
                                            <div class="col-4"><label class="labelconfirm">เบอร์ติดต่อ :</label></div>
                                            <div class="col-8"><input type="text" disabled="disabled" value="@Html.DisplayFor(phone => phone.CustomerPhone)"></div>
                                        </div>

                                        <div class="row" style="margin-top:50px;">
                                            <div class="col-4"><label class="labelconfirm">จำนวนเงินฝาก :</label></div>
                                            <div class="col-8"><input type="text" disabled="disabled" value="@Html.DisplayFor(demoney => demoney.CustomerMoney)"></div>
                                        </div>

                                        <div class="row" style="margin-top:50px;">
                                            <div class="col-4"><label class="labelconfirm">วันที่สมัครลงทุน :</label></div>
                                            <div class="col-8"><input type="text" disabled="disabled" value="@Html.DisplayFor(date => date.CustomerDate)"></div>
                                        </div>
                                        <div class="row align-items-center justify-content-center" style="margin-top:50px;">
                                            <img id="show" src="@Html.DisplayFor(img => img.CustomerImg) " alt="Your profile" class="img-thumbnail" width="500" height="350" />
                                            @*<img src="@ViewData["FileLocation"]" width="500" height="350" />*@
                                        </div>
                                    </fieldset>
                                </form>
                                    <div class="row justify-content-center">
                                        <div class="colbtn">
                                            <a asp-action="Index" class="btn-edit">แก้ไขข้อมูล</a>
                                        </div>
                                        <div class="colbtn">
                                            <form asp-action="Complete" method="post" enctype="multipart/form-data" asp-controller="Home">
                                                <label for="file-upload" class="btn-img form-control">Upload</label>
                                                <input class="btn-img form-control" asp-for="CustomerImg" type="file" id="file-upload" name="Upload" accept="image/*" onchange="loadFile(event)" hidden />
                                                @*<asp:FileUpload ID="FileUpload1" runat="server" />
        <asp:Button Text="Upload" runat="server" OnClick="Upload" />*@
                                            </form>
                                        </div>
                                    </div>
                                
                            </div>

                        </div>
                    </div>
            </div>
        </div>
        <div id="pdfcontainer" style="display:none">
            <h1 style="margin-top:30px;">Confirm Information</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum </p>
            <p style="margin-left:800px;">@DateTime.Now</p>
            <p>ประเภท : @Html.DisplayFor(Select => Select.BankSelect)</p>
            <p>ชื่อบัญชี : @Html.DisplayFor(BN => BN.CustomerBN)</p>
            <p>ชื่อผู้ฝาก : @Html.DisplayFor(name => name.CustomerName)</p>
            <p>เลขบัตรประชาชน : @Html.DisplayFor(id => id.CustomerID)</p>
            <p>ที่อยู่ : @Html.DisplayFor(address => address.CustomerAddress)</p>
            <p>เบอร์ติดต่อ : @Html.DisplayFor(phone => phone.CustomerPhone)</p>
            <p>จำนวนเงินฝาก : @Html.DisplayFor(demoney => demoney.CustomerMoney)</p>
            <p>Date : @Html.DisplayFor(date => date.CustomerDate)</p>
            <img src="@ViewData["FileLocation"]" width="500" height="350" />
        </div>
    </section>

<script type="text/javascript">
    $("#btnPdf").click(function () {
        var sHtml = $("#pdfcontainer").html();
        sHtml = sHtml.replace(/</g, "StrTag").replace(/>/g, "EndTag");
        window.open('../Home/Pdf?html=' + sHtml, '_blank');
    });

    function goBack() {
        window.history.back();
    }
</script>
<configuration>
    <system.web>
        <httpRuntime 
                     maxQueryStringLength = "2048"
                     maxRequestLength="4096"
                     maxUrlLength = "260"
                     enable="True"
                     requestLengthDiskThreshold="512"
                     useFullyQualifiedRedirectUrl="True"
                     executionTimeout="45"
                     versionHeader="1.1.4128" />
    </system.web>
</configuration>
@*<h1>KComplete</h1>
    <h4>คุณได้ลงทุนกับธนาคาร</h4>
    <div id="pdfcontainer">
        <h1 style="margin-top:30px;">Confirm Information</h1>
        <p style="margin-left:800px;">@DateTime.Now</p>
        <p>ประเภท : @Html.DisplayFor(Select => Select.BankSelect)</p>
        <p>ชื่อบัญชี : @Html.DisplayFor(BN => BN.CustomerBN)</p>
        <p>ชื่อผู้ฝาก : @Html.DisplayFor(name => name.CustomerName)</p>
        <p>เลขบัตรประชาชน : @Html.DisplayFor(id => id.CustomerID)</p>
        <p>ที่อยู่ : @Html.DisplayFor(address => address.CustomerAddress)</p>
        <p>เบอร์ติดต่อ : @Html.DisplayFor(phone => phone.CustomerPhone)</p>
        <p>จำนวนเงินฝาก : @Html.DisplayFor(demoney => demoney.CustomerMoney)</p>
        <p>Date : @Html.DisplayFor(date => date.CustomerDate)</p>
        <img src="@ViewData["FileLocation"]" width="500" height="350" /></div>*@
@*<img id="show" src="@Html.DisplayFor(img => img.CustomerImg) " alt="Your profile" class="img-thumbnail" />*@

@*<form asp-action="Complete" method="post" enctype="multipart/form-data" asp-controller="Home">
        <input asp-for="CustomerImg" class="form-control" type="file" id="fileupload" name="Upload" accept="image/*" onchange="loadFile(event)" multiple />
    </form>
    <asp:FileUpload ID="FileUpload1" runat="server" />
    <asp:Button Text="Upload" runat="server" OnClick="Upload" />
    </form>*@

@*<button id="btnPdf" onclick="filepreview" accept="image/*">PrintPDF</button>
    <br />
    <button onclick="goBack()">กลับไปแก้ไขข้อมูล</button>*@
