@model IEnumerable<ProjectBanking.Models.Bank>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div>
    <a asp-action="Save">Saving</a>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<a asp-action="Index" >
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BankID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BankName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BankAddress)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.BankInterestRate)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.orderRate)
            {
                <tr>
                    <td>
                        @item.BankID
                    </td>
                    <td>
                        @item.BankName
                    </td>
                    <td>
                        @item.BankAddress
                    </td>
                    <td>
                        @item.BankInterestRate
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</a>