@model IEnumerable<ProjectBanking.Models.Bank>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h3>คำนวณดอกเบี้ย</h3>
<div>
    <a asp-action="Save">Saving</a>
</div>
<div>
    <a asp-action="Fixed">FixedSaving</a>
</div>
<br />
<hr />
<h3>ลงทุน</h3>
<div>
    <a asp-action="Formbank">กรอกใบลทุน</a>
</div>

<br />
<hr />
<a asp-action="Index">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BankID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BankName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BankAddress)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.BankInterestRate)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.orderRate)
            {
                <tr>
                    <td>
                        @item.BankID
                    </td>
                    <td>
                        @item.BankName
                    </td>
                    <td>
                        @item.BankAddress
                    </td>
                    <td>
                        @item.BankInterestRate
                    </td>
                </tr>
            }
        </tbody>
    </table>
</a>